<main>
  {{#each usuario}}
    <div>
      <div>
        <input type="hidden" value="{{id}}">
      </div>
      <div>
        <p>Nome: {{email}}</p>
      </div>
      <div>
        <p>Senha: {{senha}}</p>
      </div>
    </div>
  {{/each}}
</main>