<fieldset>
  <form action="/api/usuarios" method="POST">
    <div>
      <label for="email">Email</label>
      <input name="email" type="email" placeholder="your email" class="input" />
    </div>
    <div>
      <label for="senha">Senha</label>
      <input name="senha" type="password" placeholder="your password" />
    </div>
    <div>
      <input type="submit" value="send" />
    </div>
  </form>
</fieldset>